<?xml version="1.0"?>
<launch>
  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
    <param name="port" type="string" value="/dev/ttyUSB0"/>
    <param name="frame_id" value="map"/>
    <param name="laserGen" type="int" value="3"/>
    <param name="block_angle_1" type="int" value="8"/>
    <param name="block_angle_2" type="int" value="127"/>
    <param name="block_angle_3" type="int" value="249"/>
    <param name="block_range" type="int" value="0"/>
    <param name="LIDAR_OFFSET_X" type="double" value="0.0"/>
    <param name="LIDAR_OFFSET_Y" type="double" value="0"/>
    <param name="LIDAR_OFFSET_THETA" type="double" value="0"/>
    <param name="delay_when_republish" type="int" value="0"/>
  </node>
</launch>

